/* Body */
body {
    font-family: "Roboto", Arial, Verdana, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li,
h1,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}

/* Layout */
.page-wrapper {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
}

.header {
    padding: 1.5rem 3rem;
    grid-column: span 2;
    background-color: #304FFE;
    font-size: 3rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.sidebar {
    background-color: #ECEFF1;
    padding: 3rem;
}

.content {
    background-color: #FBFBFB;
}

.footer {
    padding: 1.25rem 0;
    background-color: #E8EAF6;
    text-align: center;
    grid-column: span 2;
}

/* Header */
.page-title {
    color: #FBFBFB;
    font-size: inherit;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: bold;
}

.page-logo {
    font-size: inherit;
    color: #FBFBFB;
    margin: 0;
}

/* Sidebar */
.sidebar-task,
.sidebar-project,
.sidebar-project-items {
    display: flex;
    flex-flow: column wrap;
}

.sidebar-task {
    margin: 0 0 2rem;
}

.sidebar-title {
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: bold;
    margin: 0 0 1rem;
}

.nav-item {
    font-size: 1rem;
    font-family: inherit;
    margin: 0 0 1rem;
    border: none;
    background-color: transparent;
    overflow: hidden;
    display: inline-block;
    text-align: left;
    cursor: pointer;
    padding: 0.5rem 4rem 0.5rem 2rem;
    transition: background 0.3s ease;
}

.nav-item:hover,
.nav-item:active,
.nav-item.active {
    background-color: #E0E0E0;
}

.sidebar-project {
    margin: 2rem 0 0;
}

.nav-icon {
    margin-right: 0.5rem;
}

.project-form {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.form-control {
    font-size: 1rem;
    font-family: inherit;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3);
}

.group-btn {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.add-btn,
.cancel-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    overflow: hidden;
    outline: none;
    border: 0;
    cursor: pointer;
    color: #FBFBFB;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    text-transform: capitalize;
    transition: background 0.3s ease, box-shadow 0.3s ease-in-out;
}

.add-btn {
    background-color: #00C853;
}

.add-btn:hover,
.add-btn:hover:active {
    background-color: #00E676;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cancel-btn {
    background-color: #DD2C00;
}

.cancel-btn:hover,
.cancel-btn:active {
    background-color: #FF3D00;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.action-btn-icon {
    margin: 0 0.5rem 0 0;
}

.project-item {
    display: flex;
    flex-flow: row wrap;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
}

.project-item-body, 
.project-item-actions {
    display: inline-block;
}

.project-action-btn {
    display: inline-block;
    visibility: hidden;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 0.5rem;
    font-size: 1.25rem;
}

/* Content */
.content {
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    padding: 3rem 6rem;
}

.content-title {
    font-size: 2rem;
    font-family: inherit;
    margin: 0 0 2rem;
}

.add-task-btn {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    background-color: #ECEFF1;
    padding: 0.75rem 6rem 0.75rem 1rem;
    border: none;
    outline: none;
    margin: 0 0 1rem;
    font-size: 1.25rem;
    text-align: left;
    transition: background 0.3s ease;
}

.add-task-btn:hover,
.add-task-btn:active {
    background-color: #E0E0E0;
}

.add-task-icon {
    margin-right: 1rem;
}

.insert-task-form {
    display: flex;
    flex-flow: column wrap;
    background-color: #ECEFF1;
    border-radius: 1rem;
    padding: 2rem 3rem;
    gap: 1.5rem;
    width: 80%;
}

.task-details,
.task-metadata {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 2rem;
}

.insert-task-form .form-control {
    flex-grow: 1;
}

.insert-task-form .group-btn {
    gap: 3rem;
}

/* Task */
.task {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: #ECEFF1;
    color: #332D2D;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    margin: 1rem 0;
    border-radius: 1rem;
}

.task-status {
    margin-right: 2rem;
}

.task-status-checkbox {
    appearance: none; /* Hide the default look of the checkbox*/
    cursor: pointer;
    width: 1.5rem; 
    height: 1.5rem; 
    border: 2px solid #304FFE;
    border-radius: 0.5rem; 
    transition: border-color 0.3s ease; 
}

.task-status-checkbox:hover {
    background-color: white;
}

.task-status-checkbox:checked {
    background-color: #304FFE; 
    border-color: #304FFE;
}

.task-body {
    margin-right: auto;
}

.task-title,
.task-description {
    margin: 0;
    font-size: 1rem;
}

.task-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.task-description {
    font-weight: normal;
}

.task-action {
    display: flex;
    align-items: center;
}

.task-action-date,
.task-action-btn {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    overflow: hidden;
    transition: background 0.3s ease;
}

.task-action-date {
    font-size: 1rem;
    border-radius: 0.25rem;
}

.task-action-btn {
    display: inline-block;
    margin-left: 1rem;
    border-radius: 0.5rem;
}

.task-action-date:hover,
.task-action-date:active,
.task-action-btn:hover,
.task-action-btn:active {
    background-color: white;
}

.task-icon {
    font-size: 1.5rem;
}

/* Modal */
.task-modal {
    width: min(500px, 90vw);
    background-color: #FBFBFB;
    border: none;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    padding: 1rem;
}

.task-modal .modal-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.task-modal .close-btn {
    text-align: center;
    flex-grow: 0;
    margin-left: auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #9E9E9E;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.task-modal .close-btn:hover,
.task-modal .close-btn:active {
    color: #262626;
}

.task-modal .modal-title {
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.task-modal .modal-title::first-letter {
    text-transform: uppercase;
}

::backdrop {
    background-color: #CFD8DC;
    opacity: 0.5;
}

/* Footer */
.footer-text {
    font-size: 1rem;
    font-weight: normal;
    color: #757575;
    font-family: inherit;
}